        body {
            background-color:black;
            font-family: Montserrat;
        }

        h1 {
            color: aliceblue;
            font-style:italic;
            font-family: fantasy;
            text-align: center;
            font-weight:;
        }

        #foto {
            border-radius: 150px;
            width: 300px;
            height: 350px;
            margin-left: 40px;
            background-color: rgb(5, 134, 5);
            padding: 2px;
            
        }

        h3 {
            color: aliceblue;
            position: relative;
            left: 60px;
            top: 30px;
            font-size: 20px;
        }

        #text {
            color: aliceblue;
            font-size: 18px;
            font-style: italic;
            position: absolute;
            left: 400px;
            top: 120px;
            line-height: 40px;
            width: 380px;
            text-align:left;
        }

        ul {
            color: aliceblue;
            font-size: 16px;
            line-height: 40px;
            text-decoration: none;
            position: relative;
            top: 20px;
            left: 20px;
            width: 5%;
            list-style-type:none;
            font-weight: bold;
        }

        #site {
            font-size: 16px;
            line-height: 20px;
            top: 110%;    
            position: absolute;
            left: 40px;
            text-decoration: none;
            color: aliceblue;
        }

        .link {
            line-height: 40px;
            height: 50;
            position: absolute;
            top: 900px;
            width: 18%;
        }

        a:hover {
            background-color: rgb(37, 187, 37);
            text-decoration: none;
            color: aliceblue;
            height: 40px;
            position: relative;
        
        }

        #ementa {
            position: absolute;
            top:  860px;
            left: 65px;
            font-size: 20px;
        }

        li:hover {
            background-color: rgb(37, 187, 37);
        }

        ul.link li a {
            color: white;
            text-decoration: none;
            list-style-type: none;
        }

