        body {
            background-color:black;
            font-family: Montserrat;
        }

        h1 {
            color: aliceblue;
            font-style:oblique;
            font-family: fantasy;
            text-align: center;
        }

        #foto {
            border-radius: 150px;
            width: 300px;
            height: 350px;
            margin-left: 40px;
            background-color: rgb(5, 134, 5);
            padding: 2px;
            
        }

        h3 {
            color: aliceblue;
            position: relative;
            left: 50px;
            top: 30px;
        }

        #text {
            color: aliceblue;
            font-size: 18px;
            font-style: italic;
            position: absolute;
            left: 400px;
            top: 130px;
            line-height: 40px;
            width: 380px;
            text-align:left;
        }

        ul {
            color: aliceblue;
            font-size: 16px;
            line-height: 40px;
            text-decoration: none;
            position: relative;
            top: 20px;
            left: 20px;
        }

        #site {
            font-size: 16px;
            line-height: 20px;
            top: 130%;    
            position: absolute;
            left: 40px;
        }

        .link {
            line-height: 40px;
            height: 50;
            position: absolute;
            top: 900px;
        }

        a {
            text-decoration: none;
            color: aliceblue;
            height: 40px;
            position: relative;
        }

        #ementa {
            position: absolute;
            top:  870px;
        }